Port 22
Protocol 2
ListenAddress 0.0.0.0

HostKey /persist/ssh-host-keys/ssh_host_ed25519_key
HostKey /persist/ssh-host-keys/ssh_host_rsa_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AllowUsers dev

AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PermitTunnel no

ClientAliveInterval 60
ClientAliveCountMax 3
UsePAM no
PrintMotd no
Subsystem sftp internal-sftp
